# Problem 1:

### Uploading necessary libraries

In [2]:
import numpy as np   
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt   

import warnings
warnings.filterwarnings("ignore")

### Importing the data

In [3]:
df = pd.read_csv('dataset_group.csv')
df.head(10)

         Date  Order_id        Product
0  01-01-2018         1         yogurt
1  01-01-2018         1           pork
2  01-01-2018         1  sandwich bags
3  01-01-2018         1     lunch meat
4  01-01-2018         1   all- purpose
5  01-01-2018         1          flour
6  01-01-2018         1           soda
7  01-01-2018         1         butter
8  01-01-2018         1           beef
9  01-01-2018         1  aluminum foil

### EDA

In [4]:
# Shape of the data
print('No. of rows: {}'.format(df.shape[0]))
print('No. of colums: {}'.format(df.shape[1]))

No. of rows: 20641
No. of colums: 3

In [5]:
# Data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [9]:
# Descibe the variables
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,20641,603,08-02-2019,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order_id,20641.0,NaN,NaN,NaN,575.986289,328.557078,1.0,292.0,581.0,862.0,1139.0
Product,20641,37,poultry,640,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Checking got null values
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [11]:
# Checking for the duplicate rows
dups = df.duplicated()
print('No. of duplicated rows: {}'.format(dups.sum()))

No. of duplicated rows: 4730

In [15]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
20636     True
20637    False
20638    False
20639    False
20640    False
Length: 20641, dtype: bool

In [ ]:
# End of the Report